
body{
    background-image: url(img/background.jpg);
    width: 100%;
    background-size: cover;
    
}

.container{
    display: flex;
    width: 300px;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-around;
}

#numbers{
    font-size: 20px;
}

#result{
    width: 120px;
    height: 40px;
    border: 2px solid blue;
    font-size: 20px;
 
}

button{
    border-radius: 50px;
    font-size: 25px;
    padding: 10px 20px;
    margin: 40px;
}